<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuzhi.mapper.StationMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.shuzhi.entity.Station" id="stationMap">
        <result property="id" column="id" />
        <result property="stationName" column="station_name" />
        <result property="stationLon" column="station_lon" />
        <result property="stationLat" column="station_lat" />
        <result property="describe" column="describe" />
    </resultMap>

</mapper>