<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuzhi.mapper.TFrtMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.shuzhi.entity.Group" id="frtMap">
        <result property="id" column="id"/>
        <result property="frtName" column="frt_name"/>
    </resultMap>
    <select id="findById" resultMap="frtMap" parameterType="Integer">
        select * from t_frt where id=#{frtid}
    </select>
    <select id="findAll" resultMap="frtMap">
        select * from t_frt
    </select>
</mapper>