<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuzhi.mapper.TLightPoleMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.shuzhi.entity.TLightPole" id="tLightPoleMap">
        <result property="id" column="id"/>
        <result property="lamppostid" column="lamppostid"/>
        <result property="lamppostname" column="lamppostname"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="frtid" column="frtid"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id,lamppostid,lamppostname,longitude,latitude,frtid
    </sql>
    <select id="findByTlightPole" resultMap="tLightPoleMap">
        select
        <include refid="Base_Column_List" />
        from t_light_pole
        where lamppostid in
        <foreach collection="strings" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="findByTlightPoles" resultMap="tLightPoleMap">
        select
        <include refid="Base_Column_List" />
        from t_light_pole
        where lamppostid=#{strings}
    </select>
    <select id="findByFrtId" resultMap="tLightPoleMap" parameterType="integer">
        select * from t_light_pole where frtid=#{id}
    </select>
</mapper>